* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://static1.squarespace.com/static/56200fcee4b02025054662d7/56201861e4b007035b102ef9/56cb8c63e707ebc39ced7433/1505402390130/chrysler-building-296507.jpeg?format=1000w');
  background-size: cover;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.Wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper h1 {
  margin: -20px 0 20px 0;
}

.Grid-container {
  min-width: 900px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40% 40%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: end;
}